<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-light">
    <style>
        body {
            background-image: url('https://source.unsplash.com/gTQbZXL417Q');
            background-size: cover;
        }
    </style>
    <div class="container my-5">
        <h1 class="mx-auto text-center text-black opacity-75 p-3">Create Post</h1>
        <a href="/dashboard">Go Back to Dashboard</a>
        <a href="/logout">Logout</a>
        <form class="card p-3 p-md-4 rounded-3 shadow-sm opacity-75" action="/process/post" method="POST">
            {% with messages = get_flashed_messages(category_filter=["post"]) %}
                {% if messages %}
                    {% for message in messages %}
                    <li class="text-danger text-center">{{message}}</li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" name="location" class="form-control">
            </div>
            <div class="mb-3">
                <label for="type">Choose a type of climbing:</label>
                <select id="type" name="type">
                    <option value="Boulder">Bouldering</option>
                    <option value="Toprope">Top-Roping</option>
                    <option value="Sport">Sport Climbing</option>
                    <option value="Trad">Traditional Climbing</option>
                </select>
            </div>
            <div class="mb-3 row">
                <label for="grade" class="col-sm-2 col-form-label">Grade:</label>
                <input type="text" name="grade" class="form-control">
            </div>            
            <div class="mb-3">
                <label for="comment" class="form-label">Comment:</label>
                <textarea name="comment" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="text-center">
                <input class="btn btn-primary px-5" type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
